<div class="row">
    <div class="col-lg-2">
        <div class="add-btn">
            <button type="button" class="btn btn-outline-secondary ">Sync</button>
          <button type="button" (click)="addPlaylist()" class="btn btn-outline-secondary ">Add Playlist</button>
        <button type="button" (click)="addTag()" class="btn btn-outline-secondary ">Add Tag</button>
      </div>
    </div>
  <div class="col-lg-8">
      <div class="card card-default">
          <div class="card-header">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" [class.active]="(isPlaylistList===true)" (click)=changeList(true)>Playlists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class.active]="(isPlaylistList===false)" (click)=changeList(false)>Tags</a>
              </li>
            </ul>         
           </div>
          <!-- /.card-header -->
            <div *ngIf="(isPlaylistList===true);then playlistsBlock else tagsBlock"></div>
            <ng-template #playlistsBlock>
              <ul class="playlists">
                <li *ngFor="let playlist of playlists">
                    <app-stat [tagId]=playlist.tagId [icon]="'fa-music'" [name]=playlist.name [count]="26" [label]=playlist.id [data]=playlist.description (getIdToDelete)='deletePlaylist($event)' (getIdToEdit)='editPlaylist($event)'></app-stat>
                  </li>
              </ul>      
            </ng-template>
            <ng-template #tagsBlock>
              <ul class="tags">
                <li *ngFor="let tag of tags">
                    <app-tag [bgClass]=tag.color [icon]="'fa-tag'" [name]=tag.name [count]=tag.num [label]=tag.id [data]=tag.color (getIdToDelete)='deleteTag($event)' (getIdToEdit)='editTag($event)'></app-tag>
                  </li>
              </ul>      
            </ng-template>
            
          
          </div>
      <!-- /.card-body-->
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-2"></div>
</div>




