<div class="row">
    <div class="col-lg-2">
        <button type="button" (click)="addPlaylist()" class="btn btn-outline-secondary ">+</button>
        <button type="button" class="btn btn-outline-secondary ">Sync</button>

    </div>
  <div class="col-lg-8">
      <div class="card card-default">
          <div class="card-header">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Playlists</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link disabled" href="#">Tags</a>
                    </li>
                  </ul>
          </div>
          <!-- /.card-header -->
          <ul class="playlists">
              <li *ngFor="let playlist of playlists">
                  <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]=playlist.id [data]=playlist.description (getIdToDelete)='deletePlaylist($event)' (getIdToEdit)='editPlaylist($event)'></app-stat>
                </li>
            </ul>      </div>
      <!-- /.card-body-->
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-2"></div>
</div>




