<div class="row">
    <div class="col-lg-2">
        <button type="button" (click)="addPlaylist()" class="btn btn-outline-secondary ">+</button>
        <button type="button" class="btn btn-outline-secondary ">Sync</button>

    </div>
  <div class="col-lg-8">
      <div class="card card-default">
          <div class="card-header">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <button type="button" class="nav-link active" (click)=changeList(true)>Playlists</button>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link" (click)=changeList(false)>Tags</button>
              </li>
            </ul>         
           </div>
          <!-- /.card-header -->
            <div *ngIf="(isPlaylistList===true);then playlistsBlock else tagsBlock"></div>
            <ng-template #playlistsBlock>
              <ul class="playlists">
                <li *ngFor="let playlist of playlists">
                    <app-stat [bgClass]="'blue'" [icon]="'fa-music'" [name]=playlist.name [count]="26" [label]=playlist.id [data]=playlist.description (getIdToDelete)='deletePlaylist($event)' (getIdToEdit)='editPlaylist($event)'></app-stat>
                  </li>
              </ul>      
            </ng-template>
            <ng-template #tagsBlock>
              <ul class="tags">
                <li *ngFor="let tag of tags">
                    <app-tag [bgClass]=tag.color [icon]="'fa-tag'" [name]=tag.name [count]="26" [label]=tag.id [data]=tag.color (getIdToDelete)='deletePlaylist($event)' (getIdToEdit)='editPlaylist($event)'></app-tag>
                  </li>
              </ul>      
            </ng-template>
            
          
          </div>
      <!-- /.card-body-->
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-2"></div>
</div>




