<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span class="navbar-brand mb-0 h1">MediaBox</span>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [attr.collapse]="isNavbarCollapsed" [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
    <div class="elements">
      <div class="social">
        <li>
          <a href="https://www.facebook.com/MediaBox-IMT-1728380750579777/">
            <i class="fa fa-facebook fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/medhabibdhif/projet-s4-interface">
            <i class="fa fa-github fa-fw"></i>
          </a>
        </li>
      </div>
      <div *ngIf="auth.user | async as user">
        <div class="info">
          <a class="nav-item nav-link active text-white">Hello, {{ user.displayName }}</a>
          <img [src]="user.photoURL" class="img-fluid" alt="Responsive image">
          <button class="nav-item btn btn-outline-warning ml-3 mr-3" (click)="auth.signOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-expand-lg">
  <div class="title">
      <a class="navbar-brand text-white">MediaBox</a>
  </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <button (click)="auth.signOut()">Logout</button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
</nav>-->