<!--{{diagnostic}}-->
<div class="modal-body">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="container">
    <div [hidden]="submitted">
      <h1>Playlist Form</h1>
      <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
        <!-- Playlist Detail Controls -->
        <div class="row">
          <div class="form1 col-6">
            <div class="form-group">
              <label class="center-block">Name:
                <input class="form-control" formControlName="name" placeholder="Name" required>
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">Tag:
                <select class="form-control" formControlName="tagId">
                  <option value="No Id">
                    <li>No Tag</li>
                  </option>
                  <option *ngFor="let tag of tags" [value]="tag.id">
                    <li class="tagin"></li>
                    <li>{{tag.color}} {{tag.num}}</li>
                  </option>
                </select>
                <div [hidden]="tagAvailable" class="alert alert-warning">
                  Already in use
                </div>
              </label>
            </div>
          </div>
          <div class="form2 col-6">
            <div class="form-group description">
              <label class="center-block">Description:
                <textarea rows="5" class="form-control" formControlName="description" placeholder="Add new decription"></textarea>
              </label>
            </div>
          </div>
          <!--      <span class="center-block">Tag:</span> 
      <div class="form-group form-row radio">
         <div *ngFor="let tag of tags">
            <label class="center-block"><input type="radio" formControlName="tagId" value={{tag.id}}>{{tag.num}}</label>
         </div>
      </div>-->

        </div>
        <div class="form-group">
            <label class="center-block">Type:
              <select class="form-control" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </label>
          </div>

          <div *ngIf="(playlistForm.value.type==='Podcast')">
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="onlyLatest">
                  <a>Download only latest Podcast</a>
                </label>
              </div>
          </div>

        <label class="center-block">Media:</label>
        <ul formArrayName="secretLairs" class="medias">
          <li *ngFor="let media of secretLairs.controls; let i=index" [formGroupName]="i">
            <!-- The repeated address template -->
            <div *ngIf="(media.value.confirmed===true);then confirmedBlock else notConfirmedBlock"></div>
            <ng-template #confirmedBlock>
              <div class="confirmed bg-secondary">
                <div class="media-title">
                  <span class="text-white ">{{media.value.uriType}}
                    <br> {{media.value.title | slice:0:13}}</span>
                </div>
                <div class="media-buttons">
                  <button type="button" (click)="editLair(i)" class="btn">
                    <span class="fa fa-pencil fa-xs"></span>
                  </button>
                  <button type="button" (click)="deleteLair(i)" class="btn">
                    <span class="fa fa-trash fa-xs"></span>
                  </button>
                </div>

              </div>
            </ng-template>
            <ng-template #notConfirmedBlock>
              <div class="notConfirmed">
                <div class=form-row>
                  <div class="form-groups">
                    <div class=row>
                      <div class="form-group col-6">
                        <input class="form-control" formControlName="author" placeholder="Author">
                      </div>
                      <div class="form-group col-6">
                        <input class="form-control" formControlName="title" placeholder="Title">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-3">
                        <select class="form-control" formControlName="uriType">
                          <option *ngFor="let uriType of getUriTypes(playlistForm.value.type)" [value]="uriType">{{uriType}}</option>
                        </select>
                      </div>
                      <div class="form-group col-9">
                        <div *ngIf="(media.value.uri==='');then uriEmpty else uriExist"></div>
                        <ng-template #uriEmpty>
                          <div *ngIf="(media.value.uriType==='PATH');then fileBlock else urlBlock"></div>
                          <ng-template #fileBlock>
                            <div class="row">
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="onFileChange($event,i)" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                              </div>
                            </div>
                            <div class="row">
                              <progress class="progress is-info" value="{{getProgress(i)}}" max="100">{{getProgress(i)}}%</progress>
                            </div>
                          </ng-template>
                          <ng-template #urlBlock>
                            <input class="form-control" formControlName="uri" placeholder="{{media.value.uriType}}">
                          </ng-template>
                        </ng-template>
                        <ng-template #uriExist>
                          <div class="uriLabel">
                            <div class="cont">
                              <a>{{media.value.uri | slice:-20}}</a>
                              <button type="button" class="close" aria-label="Close" (click)="resetUri(i)">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          </div>
                        </ng-template>

                      </div>
                    </div>
                  </div>
                  <div class="col-2 media-buttons">
                    <button type="button" (click)="editLair(i)" [disabled]="media.value.isUploading" class="btn">
                      <span class="fa fa-check fa-xs"></span>
                    </button>
                    <button type="button" (click)="deleteLair(i)" class="btn">
                      <span class="fa fa-trash fa-xs"></span>
                    </button>
                  </div>
                </div>
                <br>
                <!-- End of the repeated address template -->
              </div>
            </ng-template>
          </li>
          <br>
          <button (click)="addLair()" class="btn btn-primary" type="button" [hidden]=!isAddPossible()>
            <span class="fa fa-plus fa-3x"></span>
          </button>
        </ul>
        <div class="row">
          <button type="submit" [disabled]="!playlistForm.valid" class="btn btn-success">Save</button> &nbsp;
          <button type="button" (click)="revert()" [disabled]="playlistForm.pristine" class="btn btn-outline-secondary">Reset</button>
        </div>
      </form>
      <!--<p>PlaylistForm value: {{ playlistForm.value | json}}</p>-->
      <!--
   <h4>Name change log</h4>
   <div *ngFor="let name of nameChangeLog">{{name}}</div>
      <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <fieldset class="form-group">
          <legend>Radio buttons</legend>
          <div *ngFor="let pow of powers">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
        </div>
        </fieldset>
      -->
    </div>
    <!--    
   <div [hidden]="!submitted">
     <h2>You submitted the following:</h2>
     <div class="row">
       <div class="col-xs-3">Name</div>
       <div class="col-xs-9  pull-left">{{ model.name }}</div>
     </div>
     <div class="row">
       <div class="col-xs-3">Alter Ego</div>
       <div class="col-xs-9 pull-left">{{ model.name }}</div>
     </div>
     <div class="row">
       <div class="col-xs-3">Power</div>
       <div class="col-xs-9 pull-left">{{ model.tag }}</div>
     </div>
     <br>
     <button class="btn btn-primary" (click)="submitted=false">Edit</button>
   </div>
   </div></div>
   <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
   </div>
   -->