

<div class="container-fluid">
    <div class="card card-stats" >
       <div class="card-header" [attr.data-background-color]=bgClass>
          <i class="fa {{icon}} fa-dw"></i>
       </div>
       <div class="card-content">
          <div class="title">
             <a>{{name}}</a>
          </div>
          <div class="group-buttons">
             <button type="button" [attr.data-background-color]=bgClass class="btn" (click)="edit()">
             <span class="fa fa-pencil fa-fw"></span> 
             </button>
             <button type="button" [attr.data-background-color]=bgClass class="btn"(click)="delete()">
             <span class="fa fa-trash fa-fw"  color="red" ></span> 
             </button>
          </div>
       </div>
       <div class="card-footer">
          <div class="stats">
             <i class="material-icons">{{data}}</i>
          </div>
       </div>
    </div>
 </div>
 
 