.buttonss
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px;

    border-radius: 0px;

    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: black;
    color: aqua;

}
.card
{
    
    border-radius: 0px;
    
}
.btn-group-vertical
{
    width: 100%;
    height: 100%;
    margin: 0px;

}
.btn
{
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px;

}
