@import '_variables';

.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 200px;
    margin: 20px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: 0;
    color: orchid;
    background: $mdb-card-body-background;


    .title{
        margin-top: 0;
        margin-bottom: 5px;
    }
    .card-image {
        height: 60%;
        position: relative;
        overflow: hidden;

        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: $border-radius-large;

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-large;
            pointer-events: none;
        }
        .card-title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: $mdb-card-image-headline;
            font-size: $font-size-h4;
            text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
        }
    }

    .card-content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-left: auto;

        .title {
            bottom: 15px;
            left: 15px;
            color: $black-color;
            font-size: $font-size-h4;
        }
        .group-buttons {  
        display: flex;
        height: 100;
        flex-grow: 0;
        flex-direction: column;
        padding-right: 4px;
        justify-content: space-around;
            button {
                display: flex;
                justify-content: center;
                width: 30px;
                height: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 15px;
            }
    }
        button:nth-last-child(-n + 1){
        > span {
            font-size: 15px;
        }
    }

        .category{
            margin-bottom: 0;
        }
    }

    .card-header{
        margin: 3px;
        flex: 2;
        background-color: 100%;
        border-radius: $border-radius-base;
        background-color: $gray-color;

        .title{
            color: $white-color;
        }
        .category{
            margin-bottom: 0;
            color: rgba($white-color, .62);
        }

        &.card-chart{
            padding: 0;
            min-height: 160px;

            + .content{
                h4{
                    margin-top: 0;
                }
            }
        }

        .ct-label{
            color: rgba($white-color, .7);
        }
        .ct-grid{
            stroke: rgba(255, 255, 255, 0.2);
        }
        .ct-series-a .ct-point,
        .ct-series-a .ct-line,
        .ct-series-a .ct-bar,
        .ct-series-a .ct-slice-donut{
            stroke: rgba(255,255,255,.8);
        }
        .ct-series-a .ct-slice-pie,
        .ct-series-a .ct-area{
            fill: rgba(255,255,255,.4);
        }

    }

    .chart-title{
        position: absolute;;
        top: 25px;
        width: 100%;
        text-align: center;

        h3{
            margin: 0;
            color: $white-color;
        }

        h6{
            margin: 0;
            color: rgba(255,255,255, .4);
        }

    }

    .card-footer{
        margin: 0 20px 10px;
        padding-top: 10px;
        border-top: 1px solid #eeeeee;

        .content{
            display: block;
        }

        div{
            display: inline-block;
        }
        .author{
            color: $gray-color;
        }
        .stats{
            line-height: 22px;
            color: $gray-color;
            font-size: $font-size-small;

            .material-icons{
                position: relative;
                top: 4px;
                font-size: $font-paragraph;
            }
        }

        h6{
            color: $gray-color;
        }

    }

    img{
        width: 100%;
        height: auto;
    }

    .category{
        .material-icons{
            position: relative;
            top: 6px;
            line-height: 0;
        }
    }

    .category-social{
        .fa{
            font-size: 24px;
            position: relative;
            margin-top: -4px;
            top: 2px;
            margin-right: 5px;
        }
    }

    .author{
        .avatar{
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 5px;
        }

        a{
            color: $black-color;
            text-decoration: none;

            .ripple-container{
                display: none;
            }
        }
    }

    .table{
        margin-bottom: 0;

        tr:first-child td{
            border-top: none;
        }
    }

    [data-background-color="purple"]{
        background: linear-gradient(60deg, $purple-400, $purple-600);
    }

    [data-background-color="blue"]{
        background: linear-gradient(60deg, $cyan-400, $cyan-600);
    }

    [data-background-color="green"]{
        background: linear-gradient(60deg, $green-400, $green-600);
    }

    [data-background-color="orange"]{
        background: linear-gradient(60deg, $orange-400, $orange-600);
    }

    [data-background-color="red"]{
        background: linear-gradient(60deg, $red-400, $red-600);
    }

    [data-background-color]{
        color: $white-color;

        a{
            color: $white-color;
        }
    }
}
