

<div class="container-fluid">
  <div class="card" >
     <div class="card-header d-flex flex-row" [attr.data-background-color]=bgClass>
        <i class="fa {{icon}} fa-5x"></i>
        <i class="title">{{count}}</i>
     </div>
     <div class="card-content">
        <div class="group-buttons">
           <button type="button" [attr.data-background-color]=bgClass class="btn" (click)="edit()">
           <span class="fa fa-pencil fa-fw"></span> 
           </button>
           <button type="button" [attr.data-background-color]=bgClass class="btn"(click)="delete()">
           <span class="fa fa-trash fa-fw"></span> 
           </button>
        </div>
     </div>
  </div>
</div>

